{
    "mqtt": {
        "username": "",
        "password": "",
        "host": "localhost",
        "port": 1883,
        "topic": "iot"
    },
    "misc": {
        "interval_ms": 1000,
        "verbose": true
    },
    "machines": {
        "sensor_id": "",
        "sensor_ts": "",
        "sensor_0": [1, 5],
        "sensor_1": [1, 20],
        "sensor_2": [0, 5],
        "sensor_3": [20, 60],
        "sensor_4": [1, 60],
        "sensor_5": [50, 100],
        "sensor_6": [10, 100],
        "sensor_7": [80, 150],
        "sensor_8": [1, 50],
        "sensor_9": [1, 10],
        "sensor_10": [1, 10],
        "sensor_11": [1, 10]
    }
}
