{% extends "base.html" %}

{% block styles %}
{{super()}}
<style>
  .page_404 { padding:40px 0; background:#fff; font-family: 'Arvo', serif; }
  .page_404 img { width:100%; }
  .four_zero_four_bg { background-image: url({{ url_for('static', filename='dribbble_1.gif') }}); height: 400px; background-position: center; }
  .four_zero_four_bg h1 { font-size:80px; }
  .four_zero_four_bg h3 { font-size:80px; }
  .content_box_404 { margin-top:-50px; }
</style>
{% endblock %}

{% block app_content %}
<!--
    <h1>Page Not Found</h1>
    <p><a href="{{ url_for('index_page') }}">Back</a></p>
-->
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>

                    <div class="content_box_404">
                        <h3 class="h2">
                            Look like you're lost
                        </h3>

                        <p>the page you are looking for not avaible!</p>

                        <a href="/" class="btn btn-success">Go to Home</a>
                        <p><small>(<a href="https://codepen.io/Navedkhan012/pen/vrWQMY" target="_blank">credit</a>)</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}