        <tr>
            <td width="50px">
                <img src="{{ user.avatar(50) }}" />
            </td>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.company }}</td>
            <td>{{ user.is_admin }}</td>
            <td><a href="https://{{ user.cluster.hostname }}:4200/" target="_blank">{{ user.cluster.namespace }}:{{ user.cluster.instance_id }}</a></td>
            <td>{{ user.last_remote_ip }}</td>
            <td>
                <form action="/users" method="post">
                    <input class="btn btn-primary" id="resetpwd-{{ user.id }}" name="{{ user.id }}" type="submit" value="Reset Pwd">
                </form>
            </td>
            <td>
                <form action="/users" method="post">
                    <input class="btn btn-primary" id="delete-{{ user.id }}" name="{{ user.id }}" type="submit" value="Delete">
                </form>
            </td>
        </tr>
