CM_REPO_FILE_URL=https://archive.cloudera.com/cm6/6.3.0/redhat7/yum/cloudera-manager.repo
JAVA_PACKAGE_NAME=java-1.8.0-openjdk-devel
JDBC_CONNECTOR_URL=https://dev.mysql.com/get/Downloads/Connector-J/mysql-connector-java-5.1.46.tar.gz

CM_VERSION=6.3.0
CDH_VERSION=6.3.0
CDH_PARCEL_VERSION=${CDH_VERSION}-1.cdh6.3.0.p0.1279813
CDH_PARCEL_REPO=https://archive.cloudera.com/cdh6/${CDH_VERSION}/parcels/
CFM_VERSION=1.0.1.0
CFM_PARCEL_REPO=https://archive.cloudera.com/CFM/parcels/${CFM_VERSION}/
ANACONDA_VERSION=5.1.0.1
ANACONDA_PARCEL_REPO=https://repo.continuum.io/pkgs/misc/parcels/archive/
CDSW_VERSION=1.6.0.p1.1294376
CDSW_PARCEL_REPO=https://archive.cloudera.com/cdsw1/1.6.0/parcels/
# Non-public artifacts
SCHEMAREGISTRY_VERSION=
STREAMS_MESSAGING_MANAGER_VERSION=
CSP_PARCEL_REPO=
SCHEMAREGISTRY_CSD_URL=
STREAMS_MESSAGING_MANAGER_CSD_URL=

CEM_VERSION=1.0.0.0
CEM_TARBALL=CEM-${CEM_VERSION}-centos7-tars-tarball.tar.gz
CEM_URL=https://archive.cloudera.com/CEM/centos7/1.x/updates/${CEM_VERSION}/${CEM_TARBALL}

CSD_URLS=(
  https://archive.cloudera.com/CFM/csd/1.0.1.0/NIFI-1.9.0.1.0.1.0-12.jar
  https://archive.cloudera.com/CFM/csd/1.0.1.0/NIFICA-1.9.0.1.0.1.0-12.jar
  https://archive.cloudera.com/CFM/csd/1.0.1.0/NIFIREGISTRY-0.3.0.1.0.1.0-12.jar
  https://archive.cloudera.com/cdsw1/1.6.0/csd/CLOUDERA_DATA_SCIENCE_WORKBENCH-CDH6-1.6.0.jar
  $SCHEMAREGISTRY_CSD_URL
  $STREAMS_MESSAGING_MANAGER_CSD_URL
)
