#!/usr/bin/env bash

#####  Java Package
JAVA_PACKAGE_NAME=java-1.8.0-openjdk-devel

#####  MYSQL
JDBC_CONNECTOR_URL=https://dev.mysql.com/get/Downloads/Connector-J/mysql-connector-java-5.1.46.tar.gz

#####  CM
CM_VERSION=7.x.0
CM_BASE_URL=http://<REPLACE_ME>/cm7
CM_REPO_FILE_URL=${CM_BASE_URL}/${CM_VERSION}/redhat7/yum/cloudera-manager.repo

#####  CDH
CDH_VERSION=7.0.2
CDH_PARCEL_VERSION=${CDH_VERSION}-1.cdh7.0.2.p0.1525455
CDH_PARCEL_REPO=http://<REPLACE_ME>/cdh/7.x/parcels/

#####  CFM
CFM_VERSION=2.0.0.0
CFM_BUILD=${CFM_VERSION}-85
CFM_PARCEL_REPO=http://<REPLACE_ME>/${CFM_BUILD}/tars/parcel
CFM_NIFI_CSD=http://<REPLACE_ME>/${CFM_BUILD}/tars/parcel/NIFI-1.10.0.${CFM_BUILD}.jar
CFM_NIFICA_CSD=http://<REPLACE_ME>/BUILDS/${CFM_BUILD}/tars/parcel/NIFICA-1.10.0.${CFM_BUILD}.jar
CFM_NIFIREG_CSD=http://<REPLACE_ME>/BUILDS/${CFM_BUILD}/tars/parcel/NIFIREGISTRY-0.5.0.${CFM_BUILD}.jar

#####  Anaconda
ANACONDA_VERSION=5.1.0.1
ANACONDA_PARCEL_REPO=https://repo.continuum.io/pkgs/misc/parcels/archive/

#####  CDSW
# If version is set, install will be attempted
CDSW_VERSION=  # 1.6.1.p1.1504243
CDSW_PARCEL_REPO=  # https://archive.cloudera.com/cdsw1/1.6.1/parcels/

#####  CSP
CSP_VER=3.0.0.0-74
SCHEMAREGISTRY_VERSION=0.8.0.${CSP_VER}
STREAMS_MESSAGING_MANAGER_VERSION=2.1.0.${CSP_VER}
CSP_PARCEL_REPO=http://<REPLACE_ME>/BUILDS/${CSP_VER}/tars/parcel/
SCHEMAREGISTRY_CSD_URL=http://<REPLACE_ME>/${CSP_VER}/tars/parcel/SCHEMAREGISTRY-0.8.0.jar
STREAMS_MESSAGING_MANAGER_CSD_URL=http://<REPLACE_ME>/${CSP_VER}/tars/parcel/STREAMS_MESSAGING_MANAGER-2.1.0.jar

#####  CEM
CEM_VERSION=1.0.0.0
CEM_TARBALL=CEM-${CEM_VERSION}-centos7-tars-tarball.tar.gz
CEM_URL=https://<REPLACE_ME>/${CEM_VERSION}/CEM-${CEM_VERSION}-centos7-tars-tarball.tar.gz

CSD_URLS=(
  $CFM_NIFI_CSD
  $CFM_NIFICA_CSD
  $CFM_NIFIREG_CSD
  $SCHEMAREGISTRY_CSD_URL
  $STREAMS_MESSAGING_MANAGER_CSD_URL
)
